*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*

build-dir/
build/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-cache/
cmake-build-debug/
cmake-build-relwithdebinfo/
cmake-build-minsizerel/
cmake-build-release/

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.vs/

# Ignore local cache used by e.g. clangd
.cache/

docs/
local_build.sh
CellIdStats.txt
CellIdStatsHandover.txt
UeHandoverEndStats.txt
UeHandoverStartStats.txt
cu-cp-cell-*.txt
cu-up-cell-*.txt
DlE2PdcpStats.txt
DlE2PdcpStatsLte.txt
DlE2RlcStats.txt
DlE2RlcStatsLte.txt
DlPhyTransmissionTrace.txt
du-cell-*.txt
enbs.txt
EnbHandoverEndStats.txt
EnbHandoverStartStats.txt
EnbSchedAllocTraces.txt
EnergyHeuristic.txt
LteDlRsrpSinrStats.txt
LteSwitchStats.txt
LteUlInterferenceStats.txt
LteUlSinrStats.txt
MmWaveSinrTime.txt
MmWaveSwitchStats.txt
RxPacketTrace.txt
RlcAmBufferSize.txt
ues.txt
UlE2PdcpStats.txt
UlE2PdcpStatsLte.txt
UlE2RlcStats.txt
UlE2RlcStatsLte.txt
X2Stats.txt
*.eps
LteDlRsrpSinrStats.txt
RlcAmBufferSize.txt
LteUlSinrStats.txt
path.txt
QoSLoadBalancing.txt
UeFailures.txt
*.csv
*.zip
stderr
*.out
*.xml
output.txt
