*.diff
*.orig
*.patch
*.rej

*.DS_Store

*.o
*.pyc
*.pyo
*.gch

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project
.vscode/*

docs/
local_build.sh
CellIdStats.txt
CellIdStatsHandover.txt
UeHandoverEndStats.txt
UeHandoverStartStats.txt
cu-cp-cell-*.txt
cu-up-cell-*.txt
DlE2PdcpStats.txt
DlE2PdcpStatsLte.txt
DlE2RlcStats.txt
DlE2RlcStatsLte.txt
DlPhyTransmissionTrace.txt
du-cell-*.txt
enbs.txt
EnbHandoverEndStats.txt
EnbHandoverStartStats.txt
EnbSchedAllocTraces.txt
LteDlRsrpSinrStats.txt
LteSwitchStats.txt
LteUlInterferenceStats.txt
LteUlSinrStats.txt
MmWaveSinrTime.txt
MmWaveSwitchStats.txt
RxPacketTrace.txt
RlcAmBufferSize.txt
ues.txt
UlE2PdcpStats.txt
UlE2PdcpStatsLte.txt
UlE2RlcStats.txt
UlE2RlcStatsLte.txt
X2Stats.txt
*.eps
LteDlRsrpSinrStats.txt
RlcAmBufferSize.txt
LteUlSinrStats.txt
